anyio==4.9.0
faiss-cpu==1.10.0
google-ai-generativelanguage==0.6.15
google-api-core==2.24.2
google-api-python-client==2.164.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-generativeai==0.8.4
google-pasta==0.2.0
googleapis-common-protos==1.69.2
huggingface-hub==0.29.3
joblib==1.4.2
keras==3.9.0
langchain==0.3.20
langchain-community==0.3.19
langchain-core==0.3.45
langchain-huggingface==0.1.2
langchain-ollama==0.2.3
langchain-openai==0.3.8
langchain-text-splitters==0.3.7
langsmith==0.3.16
numpy==1.26.4
ollama==0.4.7
openai==1.66.5
pandas==2.1.1
pydantic==2.10.6
pydantic-settings==2.8.1
pydantic_core==2.27.2
python-dotenv==1.0.1
requests==2.32.3
requests-toolbelt==1.0.0
regex==2024.11.6
scikit-learn==1.6.1
scipy==1.15.1
sentence-transformers==3.4.1
streamlit==1.43.2
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorflow==2.19.0
termcolor==2.5.0
tf_keras==2.19.0
tokenizers==0.21.1
tqdm==4.67.0
transformers==4.49.0
typing-inspect==0.9.0
uvicorn==0.34.0